/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 20, 2023, 3:30:19 PM
    Author     : oteee
*/
/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 18, 2023, 10:00:42 AM
    Author     : oteee
*/

header {
    padding-bottom: 2em;
    border-bottom: 2px solid #ef9c00;
}
header h1 {
    color: #ef9c00;
    margin-left: 120px;
    margin-bottom: 0.25em;
}
header h2 {
    color: green;
    font-style: italic;
    margin-left: 120px;
}
header img {
    float: left;
}
html {
    font-size: 62.5%;
    font-family: "poppins", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: 964px;
    background-color: white;
    margin: 15px auto;
    padding: 15px 25px;
    border: 1px solid black;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup{
    padding: 90px 75px;
    background-color: white;
    width: 100%;
    max-width: 600px;
    border-radius: 40px;
}

.signup-heading {
    font-size: 40px;
    font-weight: bold;
    color: #33333A;
    text-align: center;
}

.signup-social{
    padding: 10px;
    border-radius: 20px;
    display: block;
    width: 100%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: "poppins", sans-serif;
    border: 0;
    background-color: #4462F5;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 5px 10px 0px rgba(76, 111, 244, 0.5);
}

.signup-social-icon{
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 18px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4462F5;
}
.signup-social-text{
    display: block;
    margin: 0 auto;
}

.signup-or{
    text-align: center;
    font-size: 16px;
    color: #999;
    margin: 55px auto;
    position: relative;
}

.signup-or:after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #999;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.signup-or span{
    display: inline-block;
    padding: 10px 30px;
    background-color: #fff;
    position: relative;
    z-index: 2;
}

.signup-label{
    font-size: 16px;
    color: #33333A;
    font-weight: 500;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
}

.signup-input{
    display: block;
    width: 100%;
    padding: 25px;
    border-radius: 20px;
    background-color: #f2f3f5;
    outline: none;
    border: 0;
    font-family: "poppins", sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}

.signup-submit{
    padding: 25px;
    color: white;
    font-size: 18px;
    text-align: center;
    border: 0;
    outline: none;
    display: inline-block;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(130, 201, 30);
    font-family: "poppins", sans-serif;
    font-weight: 600px;
    cursor: pointer;
    box-shadow: 0 5px 10px 0px rgba(130, 201, 30, 0.5);
    margin-top: 25px;
    margin-bottom: 15px;
}

.signup-already{
    text-align: center;
    font-size: 16px;
    color: #999;

}

.signup-login-link{
    color: #4462F5;
    text-decoration: none;
    margin-left: 10px;
}


body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup {
    /* Thêm các thuộc tính CSS cho phần tử .signup tại đây */
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
}


